[submodule "vim/.vim/pack/plugins/start/landscape.vim"]
	path = vim/.vim/pack/plugins/start/landscape.vim
	url = https://github.com/itchyny/landscape.vim
	ignore = dirty
[submodule "vim/.vim/pack/plugins/start/vim-sensible"]
	path = vim/.vim/pack/plugins/start/vim-sensible
	url = https://github.com/tpope/vim-sensible
	ignore = dirty
[submodule "vim/.vim/pack/plugins/start/vim-surround"]
	path = vim/.vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
	ignore = dirty
[submodule "vim/.vim/pack/plugins/start/vim-repeat"]
	path = vim/.vim/pack/plugins/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
	ignore = dirty
[submodule "vim/.vim/pack/plugins/start/vim-unimpaired"]
	path = vim/.vim/pack/plugins/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
	ignore = dirty
[submodule "vim/.vim/pack/plugins/start/vim-commentary"]
	path = vim/.vim/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
	ignore = dirty
[submodule "vim/.vim/pack/plugins/start/vim-eunuch"]
	path = vim/.vim/pack/plugins/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
	ignore = dirty
[submodule "vim/.vim/pack/plugins/start/vim-abolish"]
	path = vim/.vim/pack/plugins/start/vim-abolish
	url = https://github.com/tpope/vim-abolish
	ignore = dirty
[submodule "vim/.vim/pack/plugins/start/vim-dispatch"]
	path = vim/.vim/pack/plugins/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
	ignore = dirty
[submodule "vim/.vim/pack/plugins/start/vim-projectionist"]
	path = vim/.vim/pack/plugins/start/vim-projectionist
	url = https://github.com/tpope/vim-projectionist
	ignore = dirty
[submodule "vim/.vim/pack/plugins/start/vim-vinegar"]
	path = vim/.vim/pack/plugins/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
	ignore = dirty
[submodule "vim/.vim/pack/plugins/start/vim-sleuth"]
	path = vim/.vim/pack/plugins/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
	ignore = dirty
[submodule "vim/.vim/pack/plugins/start/lightline.vim"]
	path = vim/.vim/pack/plugins/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
	ignore = dirty
[submodule "vim/.vim/pack/plugins/start/ack.vim"]
	path = vim/.vim/pack/plugins/start/ack.vim
	url = https://github.com/mileszs/ack.vim
	ignore = dirty
[submodule "vim/.vim/pack/plugins/start/vim-easy-align"]
	path = vim/.vim/pack/plugins/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
	ignore = dirty
[submodule "vim/.vim/pack/plugins/start/syntastic"]
	path = vim/.vim/pack/plugins/start/syntastic
	url = https://github.com/vim-syntastic/syntastic
	ignore = dirty
[submodule "vim/.vim/pack/plugins/start/vim-dts-indent"]
	path = vim/.vim/pack/plugins/start/vim-dts-indent
	url = https://github.com/jyelloz/vim-dts-indent
	ignore = dirty
[submodule "vim/.vim/pack/plugins/start/vim-js"]
	path = vim/.vim/pack/plugins/start/vim-js
	url = https://github.com/yuezk/vim-js
	ignore = dirty
[submodule "vim/.vim/pack/plugins/start/vim-clang-format"]
	path = vim/.vim/pack/plugins/start/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format
	ignore = dirty
[submodule "vim/.vim/pack/plugins/start/dracula"]
	path = vim/.vim/pack/plugins/start/dracula
	url = https://github.com/dracula/vim
	ignore = dirty
[submodule "vim/.vim/pack/plugins/start/vim-autopep8"]
	path = vim/.vim/pack/plugins/start/vim-autopep8
	url = https://github.com/tell-k/vim-autopep8
