[submodule "vim/pack/plugins/start/vim-vividchalk"]
	path = .vim/pack/plugins/start/vim-vividchalk
	url = https://github.com/tpope/vim-vividchalk
[submodule "vim/pack/plugins/start/landscape.vim"]
	path = .vim/pack/plugins/start/landscape.vim
	url = https://github.com/itchyny/landscape.vim
[submodule "vim/pack/plugins/start/vim-sensible"]
	path = .vim/pack/plugins/start/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "vim/pack/plugins/start/gruvbox"]
	path = .vim/pack/plugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "vim/pack/plugins/start/vim-surround"]
	path = .vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/pack/plugins/start/vim-repeat"]
	path = .vim/pack/plugins/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim/pack/plugins/start/vim-unimpaired"]
	path = .vim/pack/plugins/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "vim/pack/plugins/start/vim-commentary"]
	path = .vim/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/pack/plugins/start/vim-eunuch"]
	path = .vim/pack/plugins/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "vim/pack/plugins/start/vim-abolish"]
	path = .vim/pack/plugins/start/vim-abolish
	url = https://github.com/tpope/vim-abolish
[submodule "vim/pack/plugins/start/vim-dispatch"]
	path = .vim/pack/plugins/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "vim/pack/plugins/start/vim-projectionist"]
	path = .vim/pack/plugins/start/vim-projectionist
	url = https://github.com/tpope/vim-projectionist
[submodule "vim/pack/plugins/start/vim-vinegar"]
	path = .vim/pack/plugins/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "vim/pack/plugins/start/vim-sleuth"]
	path = .vim/pack/plugins/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule "vim/pack/plugins/start/vim-virtualenv"]
	path = .vim/pack/plugins/start/vim-virtualenv
	url = https://github.com/plytophogy/vim-virtualenv
[submodule "vim/pack/plugins/start/lightline.vim"]
	path = .vim/pack/plugins/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/pack/plugins/start/ack.vim"]
	path = .vim/pack/plugins/start/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "vim/pack/plugins/start/vim-easy-align"]
	path = .vim/pack/plugins/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule "vim/pack/plugins/start/syntastic"]
	path = .vim/pack/plugins/start/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "vim/pack/plugins/start/PHP-Indenting-for-VIm"]
	path = .vim/pack/plugins/start/PHP-Indenting-for-VIm
	url = https://github.com/2072/PHP-Indenting-for-VIm
[submodule "vim/pack/plugins/start/vim-syntax-for-PHP"]
	path = .vim/pack/plugins/start/vim-syntax-for-PHP
	url = https://github.com/2072/vim-syntax-for-PHP
[submodule "vim/pack/plugins/start/vim-dts-indent"]
	path = .vim/pack/plugins/start/vim-dts-indent
	url = https://github.com/jyelloz/vim-dts-indent
[submodule "vim/pack/plugins/start/vim-systemd-syntax"]
	path = .vim/pack/plugins/start/vim-systemd-syntax
	url = https://github.com/Matt-Deacalion/vim-systemd-syntax
[submodule "vim/pack/plugins/start/octave.vim"]
	path = .vim/pack/plugins/start/octave.vim
	url = https://github.com/tranvansang/octave.vim
[submodule "vim/pack/plugins/start/vim-js"]
	path = .vim/pack/plugins/start/vim-js
	url = https://github.com/yuezk/vim-js
[submodule "vim/pack/plugins/start/vim-clang-format"]
	path = .vim/pack/plugins/start/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format
[submodule ".vim/pack/plugins/start/dracula"]
	path = .vim/pack/plugins/start/dracula
	url = https://github.com/dracula/vim.git
[submodule ".vim/pack/plugins/start/vim-syntax-for-PHP"]
	path = .vim/pack/plugins/start/vim-syntax-for-PHP
	url = https://github.com/2072/vim-syntax-for-PHP
[submodule ".vim/pack/plugins/start/PHP-Indenting-for-VIm"]
	path = .vim/pack/plugins/start/PHP-Indenting-for-VIm
	url = https://github.com/2072/PHP-Indenting-for-VIm
[submodule ".vim/pack/plugins/start/vim-vividchalk"]
	path = .vim/pack/plugins/start/vim-vividchalk
	url = https://github.com/tpope/vim-vividchalk
[submodule ".vim/pack/plugins/start/landscape.vim"]
	path = .vim/pack/plugins/start/landscape.vim
	url = https://github.com/itchyny/landscape.vim
[submodule ".vim/pack/plugins/start/gruvbox"]
	path = .vim/pack/plugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule ".vim/pack/plugins/start/vim-dts-indent"]
	path = .vim/pack/plugins/start/vim-dts-indent
	url = https://github.com/jyelloz/vim-dts-indent
[submodule ".vim/pack/plugins/start/vim-systemd-syntax"]
	path = .vim/pack/plugins/start/vim-systemd-syntax
	url = https://github.com/Matt-Deacalion/vim-systemd-syntax
[submodule ".vim/pack/plugins/start/octave.vim"]
	path = .vim/pack/plugins/start/octave.vim
	url = https://github.com/tranvansang/octave.vim
[submodule ".vim/pack/plugins/start/vim-js"]
	path = .vim/pack/plugins/start/vim-js
	url = https://github.com/yuezk/vim-js
[submodule ".vim/pack/plugins/start/vim-clang-format"]
	path = .vim/pack/plugins/start/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format
[submodule ".vim/pack/plugins/start/vim-dadbod"]
	path = .vim/pack/plugins/start/vim-dadbod
	url = https://github.com/tpope/vim-dadbod
[submodule ".vim/pack/plugins/start/vim-autopep8"]
	path = .vim/pack/plugins/start/vim-autopep8
	url = https://github.com/tell-k/vim-autopep8
[submodule ".vim/pack/plugins/start/fzf.vim"]
	path = .vim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".vim/pack/plugins/start/tagbar"]
	path = .vim/pack/plugins/start/tagbar
	url = https://github.com/preservim/tagbar
[submodule ".vim/pack/plugins/start/vimwiki"]
	path = .vim/pack/plugins/start/vimwiki
	url = https://github.com/vimwiki/vimwiki
